@import '_variables';
@import '_mixins';

a {
    @include flex-center;
    padding: 5px;
    width: 20px;
    height: 20px;
    text-decoration: none;
    background-color: $primary-color;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect */
a:hover {
    background-color: $secondary-color;
}