version: "3.8"

services:
  mongodb:
    container_name: mongodb
    image: mongo
    restart: unless-stopped
    env_file:
      - mongo.env
    ports:
      - 27017:27017
    volumes:
      - ./database/db:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  mongo-express:
    container_name: mongo-express
    image: mongo-express
    restart: unless-stopped
    ports:
      - 8081:8081
    env_file:
      - mongo-express.env
    depends_on:
      - mongodb
  api:
    container_name: api
    restart: unless-stopped
    build:
      context: server
    ports:
      - 6578:8800
    env_file:
      - api.env
    depends_on:
      - mongodb
  web:
    container_name: web
    restart: unless-stopped
    build:
     context: GroceryList.Client
    ports:
      - 8095:80
    depends_on:
      - api