@import '_variables';

.login {
    >div {
        padding: 0 20px;
        padding-bottom: 30px;

        p {
            margin-bottom: 30px;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        .button {
            margin: 0 auto;
            width: 20%;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            background-color: $primary-color;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
    }
}