@import '_variables';
@import '_mixins';

.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;

    .card {
        background-color: white;
        padding: 10px;
        box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
        cursor: pointer;
        @include flex-column;
        gap: 10px;

        .body {
            flex: 1;
            @include flex-center;
        }

        .footer {
            @include flex-center;
        }
    }
}
