
@import '_mixins';
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 10px;
        border: 1px solid #888;
        position: relative;
        width: 40%;

        @media screen and (max-width: 991px) {
            margin: 30% auto;
            width: 80%;
        }

        .buttons {
            margin-top: 10px;
            @include flex-center;

            &>* {
                margin-right: 10px;
            }
        
            &>*:last-child {
                margin-right: 0;
            }
        }
    }
}