ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    cursor: pointer;
    padding: 8px;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }

  label {
    display: flex;
    align-self: flex-start;
  }