[entryPoints]
  [entryPoints.web]
    address = ":80"
    [entryPoints.web.http.redirections]
      [entryPoints.web.http.redirections.entryPoint]
        to = "websecure"
        scheme = "https"

  [entryPoints.websecure]
    address = ":443"

[api]
  dashboard = true

[certificatesResolvers.lets-encrypt.acme]
  email = "jeremy@scotex.tech"
  storage = "acme.json"
  [certificatesResolvers.lets-encrypt.acme.tlsChallenge]

[providers.docker]
  watch = true
  network = "traefik"

[providers.file]
  filename = "traefik_dynamic.toml"

[log]
  filePath = "logs/logfile.log"  # Change this to the path where you want the log file
  format = "json"  # Choose the log format (common, json, etc.)
  level = "DEBUG"  # Set the log level (DEBUG, INFO, WARN, ERROR)