@import '_variables';
@import '_common';
@import '_mixins';
/* You can add global styles to this file, and also import other style files */
body {
    background-color: #F7F3F6;
    text-align: center;

    &.modal-open {
        overflow: hidden;
    }
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    background-color: transparent;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid $primary-color;
    outline: none;
    color: $secondary-color;
    font-size: large;

    &:focus {
        border: 1px solid $primary-color;
        border-radius: 5px;
    }
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid $primary-color;
    background-color: transparent;
    color: $secondary-color;
    cursor: pointer;
    font-size: large;

    &:focus {
        outline: none;
        border: 1px solid $primary-color;
        border-radius: 5px;
    }
}