@import '_variables';
@import '_mixins';

.tile-add-container {
    @include tile;

    .form {
        width: 100%;

        .line1 {
            display: flex;
    
            .group {
                @include flex-column;

                &.full-width {
                    width: 100%;
                }

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
    
                input[type="number"] {
                    width: 20px;
                    margin-right: 5px;
                    -moz-appearance: textfield;
                    //Firefox
                }
    
                span {
                    align-self: flex-start;
                    color: $danger-color;
                    font-size: small;
                    margin-top: 5px;
                }
            }
        }
    
        .line2 {
            display: flex;
            margin-top: 10px;
    
            div {
                width: 30px;
                margin-left: 5px;
                @include flex-center;
            }
        }
    }
}