<app-header [title]="title" [backButton]="true"></app-header>
@if (groceryListForm) {
<form [formGroup]="groceryListForm" (ngSubmit)="onSubmit()" autocomplete="off" class="form">
  <div class="submit top">
    <app-button type="submit" class="button-submit" [loading]="isLoading" [buttonHover]="hoverChoices.invert"><img
        src="../../../../assets/icons/icons8-check-24.png" alt="submit-icon" width="20" /></app-button>
  </div>
  <div class="content">
    <div class="group with-label first">
      <app-input-field [type]="inputTypes.text" label="Name of the list" placeHolder="Name" id="name"
        formControlName="name"></app-input-field>
      @if(this.groceryListForm.controls["name"].invalid && submitted) {
      <span class="error">Name is required</span>
      }
    </div>
    <div class="group">
      <label for="store">Store</label>
      <select name="store" id="store" formControlName="storeId" (change)="onChangeStore($event)">
        <option value="" selected>No store</option>
        @for (store of stores$ | async; track $index) {
        <option [value]="store.id">{{ store.name }}</option>
        }
      </select>
    </div>
    <div class="group" formArrayName="ingredients">
      <div class="ingredient-title">
        <label>Items</label>
        @if(!groceryListForm.controls["storeId"].value) {
        <app-button type="button" (click)="onAddIngredient('')" [buttonHover]="hoverChoices.invert"><img
            src="../../../../assets/icons/icons8-plus-24.png" alt="add-icon" width="20" /></app-button>
        }

      </div>
      @if(groceryListForm.controls["storeId"].value) {
        <div class="drop-list-group" cdkDropListGroup>
          <div class="horizontal-gallery" #gallery>
            <div class="gallery-wrapper">
              <div cdkDropList class="gallery-items">
                @for (item of items(); track item.id) {
                  <div cdkDragBoundary=".drop-list-group" cdkDrag [cdkDragStartDelay]="200" [cdkDragData]="{name: item.name, type: 'new'}" class="gallery-item">{{item.name}}</div>
                }
              </div>
            </div>
          </div>
      <div class="accordion">
        @for(category of categories; track $index) {
        <div cdkDropList [cdkDropListData]="category" class="accordion-item" (cdkDropListDropped)="drop($event)">
          <div class="accordion-header">
            {{ category ? category : 'N/A' }}
            <app-button type="button" (click)="onAddIngredient(category)" [buttonHover]="hoverChoices.invert"><img
                src="../../../../assets/icons/icons8-plus-24.png" alt="add-icon" width="20" /></app-button>
          </div>
          <div class="accordion-content">
            @for (ingredientControl of getIngredientsControl(category); track
            ingredientControl.value.id; let indexControl = $index) {
            <div class="ingredient-section" [formGroupName]="getIndex(ingredientControl.value.id)" cdkDragBoundary=".drop-list-group" cdkDrag [cdkDragData]="{category, name: ingredientControl.value.name, type: 'edit'}">
              <div cdkDragHandle class="ingredient-grab">
                <img src="../../../../assets/icons/icons8-drag-reorder-24.png" alt="drag-icon" width="20" />
              </div>
              <div class="ingredient-amount">
                <app-input-field [type]="inputTypes.number" placeHolder="1"
                  [id]="'amount_' + ingredientControl.value.id" formControlName="amount"
                  (keydown.enter)="onEnterPressed($event, category)"></app-input-field>
              </div>
              <div class="ingredient-name">
                <app-input-field #inputFields [type]="inputTypes.text" placeHolder="Name"
                  [id]="'name_' + ingredientControl.value.id" formControlName="name"
                  (keydown.enter)="onEnterPressed($event, category)"></app-input-field>
              </div>
              <div class="ingredient-delete">
                <app-button [buttonStyle]="buttonStyles.danger" (click)="onDeleteIngredient(ingredientControl.value.id)"
                  [buttonHover]="hoverChoices.invert"><img src="../../../assets/icons/icons8-delete-24.png"
                    alt="delete-icon" width="20" />
                </app-button>
              </div>
            </div>
            <div class="error">
              @if(ingredientControl.get("amount")?.invalid && submitted) {
              <span class="error">Amount is required</span>
              }
              @if(ingredientControl.get("name")?.invalid && submitted) {
              <span class="error">Name is required</span>
              }
            </div>
            }
          </div>
        </div>
        }
      </div>
    </div>
      } @else {
      @for (ingredientControl of ingredientControls; track
      ingredientControl.value.id) {
      <div class="ingredient-section" [formGroupName]="$index">
        <div class="ingredient-amount">
          <app-input-field [type]="inputTypes.number" placeHolder="1" [id]="'amount_' + ingredientControl.value.id"
            formControlName="amount" (keydown.enter)="onEnterPressed($event, '')"></app-input-field>
        </div>
        <div class="ingredient-name">
          <app-input-field #inputFields [type]="inputTypes.text" placeHolder="Name"
            [id]="'name_' + ingredientControl.value.id" formControlName="name"
            (keydown.enter)="onEnterPressed($event, '')"></app-input-field>
        </div>
        <div class="ingredient-delete">
          <app-button [buttonStyle]="buttonStyles.danger" (click)="onDeleteIngredient(ingredientControl.value.id)"
            [buttonHover]="hoverChoices.invert"><img src="../../../assets/icons/icons8-delete-24.png" alt="delete-icon"
              width="20" />
          </app-button>
        </div>
      </div>
      @if(ingredientControl.get("amount")?.invalid && submitted) {
      <span class="error">Amount is required</span>
      }
      @if(ingredientControl.get("name")?.invalid && submitted) {
      <span class="error">Name is required</span>
      }
      <hr />
      } @empty {<p>No items added yet.</p>}
      }
    </div>
  </div>
  <div class="submit bottom">
    <app-button type="submit" [loading]="isLoading" [buttonHover]="hoverChoices.invert"><img
        src="../../../../assets/icons/icons8-check-24.png" alt="submit-icon" width="20" /></app-button>
  </div>
</form>
} @else {
<div class="flex-center mt-20">
  <app-loading [size]="loadingSizes.large" [color]="loadingColors.app"></app-loading>
</div>
}