@import '_variables';
@import '_mixins';

.ingredient-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
    display: none;

    &:not(:last-child) {
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0;
        color: $secondary-color;
    }
}

.drop-list-group {
    width: 100%;
}

.horizontal-gallery {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
    position: sticky;
    top: 40px;
    width: 100%;
    z-index: 1;
    background-color: white;
  }
  
  .gallery-wrapper {
    display: flex;
  }

  .gallery-items {
    display: flex;
    gap: 10px;
  }
  
  .gallery-item {
    padding: 10px;
    white-space: nowrap;
    background-color: #f1f1f1;
    padding: 5px;
    cursor: grab;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Generic */
  }

.cdk-drag-preview {
    //box-sizing: border-box;
    background-color: white;
    padding-right: 35%;
    padding-left: 30px;
    border-bottom: 1px solid $primary-color;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    cursor: grabbing;
    @include flex-center
  }

  
  .cdk-drag-placeholder {
    opacity: 0;
  }

.accordion {
    margin-top: 10px;
    width: 100%;
  }
  .accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .accordion-header {
    background-color: #f1f1f1;
    padding: 10px;
    //cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accordion-content {
    padding: 10px;

    .error {
        display: flex;
    }
  }

.ingredient-section {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;

    .ingredient-amount {
        width: 40px;

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
            //Firefox
        }
    }

    .ingredient-name {
        flex: 1;

        @include flex-column;

        span {
            align-self: flex-start;
        }
    }

    .ingredient-delete {
        width: 30px;

        @include flex-center;
    }
}

.first {
    margin-top: 20px;
}