.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #C3E8BD;
}
.login {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    width: 20%;

    @media screen and (max-width: 991px) {
        width: 90%;
    }

    @media screen and (min-width: 991px) and (max-width: 1500px) {
        width: 30%;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;

        .group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
    
            span {
                color: #EB5E55;
                font-size: small;
                margin-top: 5px;
            }
    
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        .submit {
            display: flex;
            align-self: center;
            margin-top: 10px;
            margin-bottom: 5px;;
        }

        > p {
            font-size: medium;
            color: #595959;

            a {
                cursor: pointer;
                color: inherit;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}