@import '_variables';

.login {
    .form {
        .content {
            box-shadow: none;
        }
    }
    
    >p {
        font-size: medium;
        color: $secondary-color;
    
        a {
            cursor: pointer;
            color: inherit;
            text-decoration: none;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
