<app-alert></app-alert>
<app-confirm-dialog></app-confirm-dialog>
@if(showMenu) {
  @if(showSidebar) {
    <app-side-menu></app-side-menu>
  }
<div class="top-menu">
  <div class="sidebar-toggle" (click)="openCloseSidebar()">
    @if (showSidebar) {
      <img
      src="../assets/icons/icons8-cancel-96.png"
      alt="menu-icon"
      width="20"
    />
    } @else {
      <img
      src="../assets/icons/icons8-hamburger-24.png"
      alt="menu-icon"
      width="20"
    />
    }
  </div>
  <a (click)="onLogout()">Logout</a>
</div>
}
<div class="container" [class.keyboard-open]="isKeyboardOpen">
  <router-outlet></router-outlet>
</div>
@if(showMenu) {
<div class="bottom-menu" [class.keyboard-open]="isKeyboardOpen">
  <ul>
    <li routerLinkActive="active" [ngStyle]="{'border-right': '1px solid black'}">
      <a [routerLink]="groceryListRoute"
        ><img
          src="../assets/icons/icons8-list-24.png"
          alt="list-icon"
          width="20"
        />Grocery Lists</a
      >
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="storeRoute">
        <img
          src="../assets/icons/icons8-store-24.png"
          alt="store-icon"
          width="20"
        />Stores</a
      >
    </li>
  </ul>
</div>
}
