<div class="background">
    <div class="login">
      <app-header title="Reset Password"></app-header>
      @if(showMessage) {
        <p>An email has been sent to {{this.forgotForm.controls[emailField].value}}. Please check your emails to reset your password.</p>
      } @else {
        <form
        [formGroup]="forgotForm"
        (ngSubmit)="onSubmit()"
        autocomplete="off"
        class="form"
      >
        <div class="content">
          <div class="group with-label">
            <app-input-field [type]="inputTypes.email" label="Email" id="email" [formControlName]="emailField"></app-input-field>
            @if(this.forgotForm.controls[emailField].invalid &&
            isSubmitted) {
            <span class="error"
              >Password is required and must be at least 6 charachters long</span
            >
            }
          </div>
        </div>
  
        <div class="submit bottom">
          <app-button type="submit" [loading]="isLoading"
            ><img
              src="../../../../assets/icons/icons8-check-24.png"
              alt="submit-icon"
              width="20"
          /></app-button>
        </div>
      </form>
      }
      <p>
        <a [routerLink]="loginRoute">Go back to login</a>
      </p>
    </div>
  </div>
  