@import '_variables';

/* .alert {
    background-color: hsl(4, 79%, 63%, 50%);
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;

    .message {
        color: $secondary-color;
        text-align: initial;
        font-size: small;
    }
} */

.alert {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 25%;
    width: 50%;
    z-index: 1200;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    background-color: $danger-color;

    @media screen and (max-width: 991px) {
        left: 0;
        width: 100%;
    }

    .message {
        color: white;
        text-align: initial;
        font-size: small;
    }
}