@import '_variables';

.alert {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 25%;
    width: 50%;
    z-index: 1200;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

    @media screen and (max-width: 991px) {
        left: 0;
        width: 100%;
    }

    &.error {
        background-color: $danger-color;
    }

    &.warning {
        background-color: #e57e17;
    }

    &.info {
        background-color: rgb(44, 148, 183);
    }

    &.success {
        background-color: $success-color;
    }

    .message {
        color: white;
        text-align: initial;
        font-size: small;
    }
}