@import '_variables';

.alert {
    background-color: hsl(4, 79%, 63%, 50%);
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;

    .message {
        color: $secondary-color;
        text-align: initial;
        font-size: small;

        h3 {
            margin-bottom: 0;
        }
    }
}