@import '_variables';

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 40px;
    left: 25%;
    background-color: $secondary-color;
    color: #fff;
    z-index: 100;

    @media screen and (max-width: 991px) {
        background-color: #F7F3F6;
        width: 100%;
        left: 0;
    }
  }
  
  .sidebar-header {
    padding: 20px;
    text-align: center;
    background-color: $secondary-color;
  }
  
  .menu-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-items ul li {
    //padding: 10px 20px;
    //border-bottom: 1px solid #444;
    cursor: pointer;
  }
  
  .menu-items ul li a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 20px;
    box-sizing: border-box;

    @media screen and (max-width: 991px) {
        color: black;
    }
  }
  
  .menu-items ul li:hover,
  .menu-items ul li.active {
    background-color: $primary-color;
  }
  
  .main-content {
    margin-left: 250px;
    padding: 20px;

    @media screen and (max-width: 991px) {
        margin-left: 100%;
    }
  }
  