@import '_variables';
@import '_mixins';


.login {
    .form {
        .content {
            box-shadow: none;
        }
    
        .submit.bottom {
            margin-top: 0;
        }
    }
    
    >p {
        font-size: medium;
        color: $secondary-color;
    
        a {
            cursor: pointer;
            color: inherit;
            text-decoration: none;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.oauth {
    margin-bottom: 10px;
    @include flex-column;
    align-items: center;

    .twitch-anchor {
        width: 70%;
        background-color: #6441a5;
        color: #ffffff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease;
        @include flex-center;

        &:hover {
            background-color: #9147ff;
        }

        .twitch-logo {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }
}