<p>reset-password works!</p>
<div class="background">
    <div class="login">
      <app-header title="Reset Password"></app-header>
      <form
        [formGroup]="resetForm"
        (ngSubmit)="onSubmit()"
        autocomplete="off"
        class="form"
      >
        <div class="content">
          <div class="group with-label">
            <app-input-field [type]="inputTypes.password" label="Password" id="password" [formControlName]="signupFormPassword"></app-input-field>
            @if(this.resetForm.controls[signupFormPassword].invalid &&
            isSubmitted) {
            <span class="error"
              >Password is required and must be at least 6 charachters long</span
            >
            }
          </div>
          <div class="group with-label">
            <app-input-field [type]="inputTypes.password" label="Confirm Password" id="confirmPassword" [formControlName]="signupFormConfirmPassword"></app-input-field>
            @if(this.resetForm.controls[signupFormConfirmPassword].invalid &&
            isSubmitted) {
            <span class="error">Passwords must be the same</span>
            }
          </div>
        </div>
  
        <div class="submit bottom">
          <app-button type="submit" [loading]="isLoading"
            ><img
              src="../../../../assets/icons/icons8-check-24.png"
              alt="submit-icon"
              width="20"
          /></app-button>
        </div>
      </form>
      <p>
        <a [routerLink]="loginRoute">Go back to login</a>
      </p>
    </div>
  </div>
  