name: Build and Test

on:
  pull_request:
    branches:
      - main

jobs:
  build-dotnet-api:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0.x' # Specify the .NET version
        
      - name: Build .NET API
        run: |
          cd server
          dotnet restore
          dotnet build --configuration Release
          # Add additional commands for tests, if applicable

  build-angular-app:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20.x' # Specify the Node.js version

      - name: Install dependencies and build Angular app
        run: |
          cd GroceryList.Client
          npm install --legacy-peer-deps
          npm run build 
